@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('../src/assets/370294-PBG070-530.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
::-webkit-scrollbar{
  cursor: pointer;
  width: 5px;
}

::-webkit-scrollbar-track{
  cursor: pointer;
  background:  white;
}

::-webkit-scrollbar-thumb{
  background: #F59E0B;
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover{
  background: #F59E0B;
}


